.nav {
  --accent: #44C3DB;

  display: flex;
}

.navItem {
  font-size: 14px;
  min-height: 48px;
  display: flex;
  opacity: 50%;
  font-family: "ITC Avant Garde Std Bk", Arial, Helvetica, sans-serif;
  line-height: 0px;
}

.navItem:hover {
  opacity: 80%;
}

.navItem:not(:last-child) {
  margin-right: 34px;
}

.navItem.active {
  font-weight: 600;
  opacity: 100%;
}

.navItem > * {
  flex: 1 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 768px) {
  .navItem {
    font-size: 16px;
    position: relative;
  }

  .navItem:not(:last-child) {
    margin-right: 48px;
  }

  .navItem.active::before {
    content: " ";
    position: absolute;
    background: var(--accent);
    height: 4px;
    width: calc(100% + 14px);
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
}

