* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  --bg: #080E16;
  --fg: #FFFFFF;
  --accent: #44C3DB;

  background: var(--bg);
  color: var(--fg);
}

.navbarWrapper {
  padding: 0 1.4em;
}

.brandText {
  display: flex;
  align-items: center;
}

.brandText > *:not(:last-child) {
  margin-right: 8px;
}

.brand {
  display: flex;
  min-height: 48px;
}

.brandWrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.brandWrapper > * {
  outline: none;
}

.collapse {
  display: flex;
  max-height: 0;
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
  padding: 0 12px;
}

.collapse > * {
  flex-direction: column;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  margin-bottom: 24px;
}

.collapse > * > * {
  margin-right: 0 !important;
}

.collapse.show {
  max-height: 1000px;
  transition: max-height 0.4s ease-in-out;
}

.toggle {
  cursor: pointer;
}

.toggle > * {
  display: block;
}

@media only screen and (min-width: 768px) {
  .collapse {
    margin-left: 50px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  .collapse::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .collapse > * {
    flex-direction: row;
    margin-bottom: 0;
    max-height: none;
    max-height: initial;
    overflow-y: visible;
    overflow-y: initial;
  }

  .collapse > * > *:not(:last-child) {
    margin-right: 34px !important;
  }

  .collapse > * > *:not(:last-child) {
    margin-right: 48px;
  }

  .toggle {
    display: none;
  }

  .navbarWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
  }

  .brand {
    min-height: 67px;
  }

  .brandText * {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .navbarWrapper {
    padding: 0 8em;
  }
}
