.all {
  background: #cb0058;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border-color: transparent;
  border-width: 1px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.all:hover {
  opacity: 0.75;
}
